!!! 5
html
  head
    title My first node app
  body
    h1 Hello nodejs !
    p
      a(href='/page1') Clock
    p
      a(href='/temprature/delhi') Temprature
    p
      a(href='/pictures') Upload a file
    p
      a(href='/morepictures') Upload more files
