!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title A Colorful Clock
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(rel='stylesheet', type='text/css', href='css/jquery.tzineClock.css')
    script(type='text/javascript', src='js/jquery-1.8.2.js')
    script(type='text/javascript', src='js/jquery.tzineClock/jquery.tzineClock.js')
    script(type='text/javascript', src='js/script.js')
  body
    h1 A Colorful Clock With CSS & jQuery
    #fancyClock

